/* GRID DEL ROOT */
/* GRID */
#root {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header header header"
    "aside-left aside-left aside-left"
    "main main main"
    "footer footer footer";
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 10% 10% 1fr 10%;
  z-index: 0;
}

.top {
  grid-area: header;
  background: #81D2CB;
  display: flex;
  align-items: center;
}

.middle-left {
  grid-area: aside-left;
  background: #B3CD12;
  ;
}

.middle-center {
  grid-area: main;
  background: #C9B09C;
}

.middle-right {
  grid-area: aside-right;
  background: white;
}

.bottom {
  grid-area: footer;
  background: #81D2CB;
}

/*iconos del header*/
.one {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
}

.two {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 75%;
}
.logo {
  width: 130px;
  height: 80px;
}

.sign-btn {
display: flex;
font-family: FontAwesome;
text-align: center;
}

.categorysBtn {
  font-family: FontAwesome;
  display: flex;
  text-align: center;
  color: #000000;
}
li a,
.categorysBtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-top: 10px;
  margin: 10px;
}
li a:hover,
.category:hover .categorysBtn {
  background-color: #77B1AC;
  border-radius: 4px;
}
li.category {
  display: inline-block;
}
.category-content {
   display: none;
 position: absolute;
  background-color: #F6F9FA;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}
.category-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.category-content a:hover {
  background-color: #CBCCCC;
}
.category:hover .category-content {
  display: block;
}
.blue {
  background: #81D2CB;
  border-radius: 10px;
}
.green {
background: #B3CD12;
border-radius: 10px;
}
.brown {
  background: #C9B09C;
  border-radius: 10px;
}
.burguerBtn {
  font-family: FontAwesome;
  display: flex;
  color: #000000;
}
li a,
.burguerBtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  margin-top: 10px;
  margin: 10px;
}
li a:hover,
.burguer:hover .burguerBtn {
  background-color: #77B1AC;
  border-radius: 4px;
}
li.burguer {
  display: inline-block;
}
.burguer-content {
   display: none;
 position: absolute;
  background-color: #F6F9FA;
  min-width: 70px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  border-radius: 10px;
}
.burguer-content a {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.burguer-content a:hover {
  background-color: #CBCCCC;
}
.burguer:hover .burguer-content {
  display: block;
}

.main-nav ul li, .secondary-navbar ul li {
  list-style: none;
}



/*search*/
#search-wrapper {
  display: inline-block;
  position: relative;
}

#search-wrapper.search-expanded #close-icon:before {
  -webkit-animation: cross-1-in 0.25s linear 0s forwards;
          animation: cross-1-in 0.25s linear 0s forwards;
}

#search-wrapper.search-expanded #close-icon:after {
  -webkit-animation: cross-2-in 0.25s linear 0.2s forwards;
          animation: cross-2-in 0.25s linear 0.2s forwards;
}

#search-wrapper.search-expanded:after {
  -webkit-animation: lens-out 0.5s linear 1 forwards;
          animation: lens-out 0.5s linear 1 forwards;
}

#search-wrapper:after {
  position: absolute;
  bottom: 2px;
  right: -8px;
  display: block;
  content: "";
  width: 13px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  -webkit-transform: rotate(45deg) scaleX(0);
          transform: rotate(45deg) scaleX(0);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-animation: lens-in 0.6s linear 0.9s forwards;
          animation: lens-in 0.6s linear 0.9s forwards;
}

#search {
  color: rgb(0, 0, 0);
  background: none;
  border: 3px solid rgb(0, 0, 0);
  outline: none;
  padding: 0.6px 8px;
  border-radius: 1000px;
  width: 0;
  -webkit-transition: width 0.3s 0.6s;
  transition: width 0.3s 0.6s;
}

#search::-webkit-input-placeholder {
  color:#F6F9FA;
}

#search:focus {
  width: 200px;
}

#close-icon {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  width: 20px;
  height: 20px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  display: none;
}

#close-icon[style*="display: block"] {
  color: red;
}

#close-icon[style*="display: block"]:before {
  -webkit-transform: rotate(45deg) scaleX(1) translateY(10px);
          transform: rotate(45deg) scaleX(1) translateY(10px);
}

#close-icon[style*="display: block"]:after {
  -webkit-transform: rotate(-45deg) scaleX(1) translateY(-10px);
          transform: rotate(-45deg) scaleX(1) translateY(-10px);
}

#close-icon:before, #close-icon:after {
  display: block;
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: rgb(0, 0, 0);
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

#close-icon:before {
  -webkit-transform: rotate(45deg) scaleX(0) translateY(10px);
          transform: rotate(45deg) scaleX(0) translateY(10px);
}

#close-icon:after {
  -webkit-transform: rotate(-45deg) scaleX(0) translateY(-10px);
          transform: rotate(-45deg) scaleX(0) translateY(-10px);
}

#close-icon.closing:before {
  -webkit-animation: cross-1-out 0.25s linear 0s forwards;
          animation: cross-1-out 0.25s linear 0s forwards;
}

#close-icon.closing:after {
  -webkit-animation: cross-2-out 0.25s linear 0.2s forwards;
          animation: cross-2-out 0.25s linear 0.2s forwards;
}

@-webkit-keyframes lens-out {
  0% {
    -webkit-transform: rotate(45deg) scaleX(1);
            transform: rotate(45deg) scaleX(1);
  }
  30% {
    -webkit-transform: rotate(45deg) scaleX(1.4);
            transform: rotate(45deg) scaleX(1.4);
  }
  100% {
    -webkit-transform: rotate(45deg) scaleX(0);
            transform: rotate(45deg) scaleX(0);
  }
}

@keyframes lens-out {
  0% {
    -webkit-transform: rotate(45deg) scaleX(1);
            transform: rotate(45deg) scaleX(1);
  }
  30% {
    -webkit-transform: rotate(45deg) scaleX(1.4);
            transform: rotate(45deg) scaleX(1.4);
  }
  100% {
    -webkit-transform: rotate(45deg) scaleX(0);
            transform: rotate(45deg) scaleX(0);
  }
}

@-webkit-keyframes lens-in {
  0% {
    -webkit-transform: rotate(45deg) scaleX(0);
            transform: rotate(45deg) scaleX(0);
  }
  30% {
    -webkit-transform: rotate(45deg) scaleX(1.4);
            transform: rotate(45deg) scaleX(1.4);
  }
  100% {
    -webkit-transform: rotate(45deg) scaleX(1);
            transform: rotate(45deg) scaleX(1);
  }
}

@keyframes lens-in {
  0% {
    -webkit-transform: rotate(45deg) scaleX(0);
            transform: rotate(45deg) scaleX(0);
  }
  30% {
    -webkit-transform: rotate(45deg) scaleX(1.4);
            transform: rotate(45deg) scaleX(1.4);
  }
  100% {
    -webkit-transform: rotate(45deg) scaleX(1);
            transform: rotate(45deg) scaleX(1);
  }
}

@-webkit-keyframes cross-1-in {
  0% {
    -webkit-transform: rotate(45deg) scaleX(0) translateY(10px);
            transform: rotate(45deg) scaleX(0) translateY(10px);
  }
  70% {
    -webkit-transform: rotate(45deg) scaleX(1.2) translateY(10px);
            transform: rotate(45deg) scaleX(1.2) translateY(10px);
  }
  100% {
    -webkit-transform: rotate(45deg) scaleX(1) translateY(10px);
            transform: rotate(45deg) scaleX(1) translateY(10px);
  }
}

@keyframes cross-1-in {
  0% {
    -webkit-transform: rotate(45deg) scaleX(0) translateY(10px);
            transform: rotate(45deg) scaleX(0) translateY(10px);
  }
  70% {
    -webkit-transform: rotate(45deg) scaleX(1.2) translateY(10px);
            transform: rotate(45deg) scaleX(1.2) translateY(10px);
  }
  100% {
    -webkit-transform: rotate(45deg) scaleX(1) translateY(10px);
            transform: rotate(45deg) scaleX(1) translateY(10px);
  }
}

@-webkit-keyframes cross-2-in {
  0% {
    -webkit-transform: rotate(-45deg) scaleX(0) translateY(-10px);
            transform: rotate(-45deg) scaleX(0) translateY(-10px);
  }
  70% {
    -webkit-transform: rotate(-45deg) scaleX(1.2) translateY(-10px);
            transform: rotate(-45deg) scaleX(1.2) translateY(-10px);
  }
  100% {
    -webkit-transform: rotate(-45deg) scaleX(1) translateY(-10px);
            transform: rotate(-45deg) scaleX(1) translateY(-10px);
  }
}

@keyframes cross-2-in {
  0% {
    -webkit-transform: rotate(-45deg) scaleX(0) translateY(-10px);
            transform: rotate(-45deg) scaleX(0) translateY(-10px);
  }
  70% {
    -webkit-transform: rotate(-45deg) scaleX(1.2) translateY(-10px);
            transform: rotate(-45deg) scaleX(1.2) translateY(-10px);
  }
  100% {
    -webkit-transform: rotate(-45deg) scaleX(1) translateY(-10px);
            transform: rotate(-45deg) scaleX(1) translateY(-10px);
  }
}

@-webkit-keyframes cross-1-out {
  0% {
    -webkit-transform: rotate(45deg) scaleX(1) translateY(10px);
            transform: rotate(45deg) scaleX(1) translateY(10px);
  }
  100% {
    -webkit-transform: rotate(45deg) scaleX(0) translateY(10px);
            transform: rotate(45deg) scaleX(0) translateY(10px);
  }
}

@keyframes cross-1-out {
  0% {
    -webkit-transform: rotate(45deg) scaleX(1) translateY(10px);
            transform: rotate(45deg) scaleX(1) translateY(10px);
  }
  100% {
    -webkit-transform: rotate(45deg) scaleX(0) translateY(10px);
            transform: rotate(45deg) scaleX(0) translateY(10px);
  }
}

@-webkit-keyframes cross-2-out {
  0% {
    -webkit-transform: rotate(-45deg) scaleX(1) translateY(-10px);
            transform: rotate(-45deg) scaleX(1) translateY(-10px);
  }
  100% {
    -webkit-transform: rotate(-45deg) scaleX(0) translateY(-10px);
            transform: rotate(-45deg) scaleX(0) translateY(-10px);
  }
}

@keyframes cross-2-out {
  0% {
    -webkit-transform: rotate(-45deg) scaleX(1) translateY(-10px);
            transform: rotate(-45deg) scaleX(1) translateY(-10px);
  }
  100% {
    -webkit-transform: rotate(-45deg) scaleX(0) translateY(-10px);
            transform: rotate(-45deg) scaleX(0) translateY(-10px);
  }
}
/*# sourceMappingURL=header.css.map */