/* Estilos para desktop */
/* @media screen and (min-width: 1024px) {
  .modal-container {
    min-height: 75%;
    width: 50vw;
    transform: translateX(50%) translateY(5%);
  }

  #close-modal {
    top: 0;
    left: 75%;
    font-size: 5rem;
  }
} */

/* Estilos para tablet */
/* @media screen and (min-width: 768px) {
  .modal-container {
    min-height: 85%;
  }
} */

