* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  /*16px - 62.5 = 10px = 1rem*/
  font-family: 'Manjar',
    'sans-serif';
}

body {
  font-size: 1rem;
}

/* GRID DESKTOP (implementado en media-queries, no descomentar o se chinga todo jajajaja)  */
/* #root {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header header header"
    "aside-left aside-left aside-left"
    "main main main"
    "footer footer footer";
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 5% 1% 1fr 5%;
  overflow-x: visible;
  z-index: 0;
  
} */

/* GRID PARA MOBILE */
#root {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "aside-left"
    "main"
    "footer";
  grid-template-columns: 100%;
  grid-template-rows: 15vh 10vh 1fr 5vh;
  

}



.main-nav ul li,
.secondary-navbar ul li {
  list-style: none;
}


.top {
  grid-area: header;
  background: #81D2CB;
  display: flex;
  align-items: center;  
}
header{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 80px;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 80px;
}

.middle-left {
  grid-area: aside-left;
  background: white;
}

.middle-center {
  grid-area: main;
  background: #C9B09C;
}

.middle-right {
  grid-area: aside-right;
  background: white;
}

.bottom {
  grid-area: footer;
  background: #81D2CB;
}




/* HOME POSTS */

#home-post-container {
  /* border: 2px solid blue; */
  width: 80vw;
  margin: 3rem auto;

}

.home-post {
  background-color: #F6F9FA;
  color: black;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 4rem;
  border-radius: 10px;
  
}

.post-actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 4rem;
  margin-top: 0.5rem;
}

.like-btn,
.trigger-comment-form-btn,
.share-comment-btn,
.publish-comment-btn {
  background-color: #81D2CB;
  padding: 1rem;
  border-radius: 1rem;
  outline: none;
  margin-top: 1rem;
  font-size: 1rem;
}

div.post-comment-form {
  /* border: 1px solid red; */
  text-align: center;
  margin-top: 2rem;
}

textarea.comment-content {
  width: 90%;
  min-height: 15vh;
  max-height: 20vh;
  min-width: 50vw;
  max-width: 60vw;
  font-family: 'Manjar',
    'sans-serif';
  padding: 1rem;
  border-radius: 5px;
}

/*Category AboutUs */
.about {
  background-color: #81D2CB;
  color: black;
  padding-left: 1.5rem;
  padding-bottom: 4rem;
  border-radius: 10px;
  
}
#about-container {
  width: 39vw;
  margin: 120rem 72rem 45rem 75rem;
  top: 12rem;
}
/* PaW de publicación*/

.pawEdit {
padding: 10;
}