* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%; /*16px - 62.5 = 10px = 1rem*/
}
body {
  font-size: 2rem;
}

/* GRID */
#root {
    height: 100vh;
    display: grid;
    grid-template-areas: 
       "header header header"
       "aside-left aside-left aside-left"
       "secondary-nav secondary-nav secondary-nav"
       "main main main"
       "footer footer footer";     
    grid-template-columns: 25% 50% 25%;

    grid-template-rows: 10% 10% 5% 65% 10%;
    overflow: hidden;
    z-index: 0;
}


